@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;800&display=swap');
@import "reset.css";

@import "bg.css";
@import "footer.css";

body {
  width: auto;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.header-top__options {
  direction: rtl;
}
